<button class="ui button button-top-right" {{on "click" this.save}}>Save</button>

<div prefix="foaf: http://xmlns.com/foaf/0.1/ dct: http://purl.org/dc/terms/" typeof="foaf:Document" resource="#">
  <Rdfa::RdfaEditor class="rdfa-editor"
    @profile={{profile}}
    @value={{model.content}}
    @rdfaEditorInit={{action "handleRdfaEditorInit"}}
    @editorOptions={{hash
                       showToggleRdfaAnnotations="true"
                       showInsertButton=null
                       showRdfa="true"
                       showRdfaHighlight="true"
                       showRdfaHover="true"}}
    @toolbarOptions={{hash
                       showTextStyleButtons="true"
                       showListButtons="true"
                       showIndentButtons="true"}}
  />
</div>

{{outlet}}